<h1>Listing table_of_contents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @table_of_contents.each do |table_of_content| %>
  <tr>
    <td><%= table_of_content.title %></td>
    <td><%= table_of_content.description %></td>
    <td><%= link_to 'Show', table_of_content %></td>
    <td><%= link_to 'Edit', edit_table_of_content_path(table_of_content) %></td>
    <td><%= link_to 'Destroy', table_of_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Table of content', new_table_of_content_path %>
