<%= simple_form_for([:administrator, @department]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    
  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.collection_select :institution_id, Institution.order(:name), :id, :name, include_blank: false, :prompt => "- Select Institution -" %>
  </div>
  <div class="field">
    <%= f.label :faculty_id %><br />
    <%= f.grouped_collection_select :faculty_id, Institution.order(:name), :faculties, :name, :id, :name, include_blank: false, :prompt => "- Select Faculty -" %>
  </div>
  
  </div>
  

  <p>
  	<div class="form-actions">
    <%= f.button :submit %>
  </div>
  </p>
  
<% end %>
