<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @department.name %>
</p>

<p>
  <b>Faculty:</b>
  <%= @department.faculty.name %>
</p>

<p>
  <b>Institution:</b>
  <%= @department.institution.name %>
</p>


<%= link_to 'Edit', edit_administrator_department_path(@department) %> |
<%= link_to 'Back', administrator_departments_path %>
