<%= simple_form_for([:administrator, @pin]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :serial %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
