<%= simple_form_for(@privacy_term) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :introduction %>
    <%= f.input :policy %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
