<h1>Listing institution_ads</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Institution</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @institution_ads.each do |institution_ad| %>
  <tr>
    <td><%= institution_ad.name %></td>
    <td><%= institution_ad.content %></td>
    <td><%= institution_ad.institution.name %></td>
    <td><%= link_to 'Show', [:administrator, institution_ad] %></td>
    <td><%= link_to 'Edit', edit_administrator_institution_ad_path(institution_ad) %></td>
    <td><%= link_to 'Destroy', [:administrator, institution_ad], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Institution ad', new_administrator_institution_ad_path %>
