<%= simple_form_for([:administrator, @faculty_update]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :date %>
    <%= f.input :signed_by %>    
  </div>
   <div class="field">
	<%= f.label :faculty_id %>
	 <br />
	<%= f.collection_select :faculty_id, Faculty.order(:name), :id, :name, include_blank: true, :prompt => "- Select Faculty -" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
