<h1>Listing semesters</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @semesters.each do |semester| %>
  <tr>
    <td><%= semester.name %></td>
    <td><%= link_to 'Show', [:administrator, semester] %></td>
    <td><%= link_to 'Edit', edit_administrator_semester_path(semester) %></td>
    <td><%= link_to 'Destroy', [:administrator, semester], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Semester', new_administrator_semester_path %>
