<table>
	<tr>
		<td>
			<div class="subscription-nav-links">
	           <%= link_to current_user.first_semester_course.code, :controller => 'user_first_semester_course', :action => 'show', :id => current_user.first_semester_course %>
               &nbsp;&nbsp;&nbsp;&nbsp;<< &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to @topic_video_tutorial.topic, :id => @topic_video_tutorial %> <%= link_to 'Video', :id => @topic_video_tutorial %>
            </div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="classnote_heading">
	            <%= current_user.first_semester_course.code %> - Topic Video
	        </div>
		</td>
	</tr>
	<tr>
		<td>
			<% if current_user.first_semester_course.first_semester_course_outlines.count < 6 %>
			<div class="show_first_semester_course_outline_details">
			   <% current_user.first_semester_course.first_semester_course_outlines.each do |course_outline| %>
				   <div class="show_course_outline_topic"><%= link_to course_outline.topic, :controller => 'first_semester_course_outline', :action => 'show', :id => course_outline %></div>
    	       <% end %>
    	    </div>
    	    <% elsif current_user.first_semester_course.first_semester_course_outlines.count > 5 %>
    	       <div class="show_first_semester_course_outline_details">
    	       	<table>
    	       		<tr>
    	       			<td>
    	       				<% @limit_5.take(5).each do |course_outline| %>
                               <div class="show_course_outline_topic"><%= link_to course_outline.topic, :controller => 'first_semester_course_outline', :action => 'show', :id => course_outline %></div>
                            <% end %>
    	       			</td>
    	       			<td>
    	       			<% if current_user.first_semester_course.first_semester_course_outlines.count > 5 %>
    	       				<div class="left_spacing">
    	       				<% @limit_6.take(5).each do |course_outline| %>
                               <div class="show_course_outline_topic"><%= link_to course_outline.topic, :controller => 'first_semester_course_outline', :action => 'show', :id => course_outline %></div>
                            <% end %>
                            </div>
                        <% else %>
    	       			<% end %>
    	       			</td>
    	       			<td>
    	       			<% if current_user.first_semester_course.first_semester_course_outlines.count > 10 %>
    	       				<div class="left_spacing">
    	       				<% @limit_7.take(5).each do |course_outline| %>
                               <div class="show_course_outline_topic"><%= link_to course_outline.topic, :controller => 'first_semester_course_outline', :action => 'show', :id => course_outline %></div>
                            <% end %>
                           </div>
                        <% else %>
                        <% end %>
    	       			</td>
    	       			<td>
    	       			<% if current_user.first_semester_course.first_semester_course_outlines.count > 15 %>
    	       				<div class="left_spacing">
    	       				<% @limit_8.take(5).each do |course_outline| %>
                               <div class="show_course_outline_topic"><%= link_to course_outline.topic, :controller => 'first_semester_course_outline', :action => 'show', :id => course_outline %></div>
                            <% end %>
                            </div>
                        <% else %>
                        <% end %>
    	       			</td>
    	       			
    	       		</tr>
    	       	</table>
               </div>
            <% end %>
		</td>
	</tr>
	<tr>
		<td>
			<div class="view_course_outline_topic">
      	       <div style="width: 650px; padding-left: 70px;">
      	 	      <%= @topic_video_tutorial.topic %> Video
      	       </div>
      	       <% if @topic_video_tutorial.video_url.empty? %>
      	          <div class="right_split_course_outline_topic" style="font-size: 11px; color: #b74900; width: 120px; text-align: right; margin-left: 683px; padding-right: 10px; margin-top: -15px;">
                      Video Not Available
                  </div>
      	       <% else %>
                  <div class="right_split_course_outline_topic" style="font-size: 11px; color: #4e4e4e; width: 120px; text-align: right; margin-left: 683px; padding-right: 10px; margin-top: -15px;">
         	          <%= link_to 'Replay Video', :controller => 'first_semester_course_video_tutorial', :action => 'show', :id => @topic_video_tutorial %>
                  </div>
               <% end %>
            </div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="course_outline_url_view">
                <iframe src="<%= @topic_video_tutorial.video_url  %>" scrollbars="auto" style="min-width:883px; height:1105px;" scrollbars="no"; frameborder="0"></iframe>
            </div>
		</td>
	</tr>
</table>



  

    
    
      
 
     
