<div class="activation_notice">
	<b style="color: #5e5e5e; font-size: 12px;">Hello <%= current_user.name %>,</b><br />
	<p style="margin-left: 160px; font-size: 18px; color: #b74900; font-weight: bold; height: 25px;">Oops!&nbsp;&nbsp;&nbsp;Unavailable Page</p>
	   <p style="margin-left: 160px; line-height: 18px;">You cannot view this page at this time because, you have an <b>Active Subscription.</b><br />
	   	              Please check below for your subscription details. 
	   	</p>
	   
       <p style="margin-left: 160px">Thank you.</p>
</div>
<div class="subscription-summary">
	<div class="subscription-summary-title">
		Subscription Summary:
	</div>
	<div class="subscription-summary-details">
		<table>
			<tr>
				<td>Username:</td>
				<td><%= current_user.name %></td>
			</tr>
			<tr>
				<td>Current Pin:</td>
				<td><%= current_user.pin %></td>
			</tr>
			<tr>
				<td>Activated On:</td>
				<td><%= current_user.expiration - 30.days %></td>
			</tr>
			<tr>
				<td>Expired At:</td>
				<td><%= current_user.expiration %></td>
			</tr>
			<tr>
				<td>Status:</td>
				<td style="color: green; font-weight: bold;">Active</td>
			</tr>
		</table>
	</div>
	
	<div class="bank_transfer_get_prepaid_voucher_active_subscription">
		<div class="bank_transfer_notice_active_subscription">
			You can make payments through any of the following listed banks.<br />
			Payments by regular bank deposit must be done with your MCS username, this is how we identify you. 
		</div>
		
		<div class="banks-deposit-details-active-subscription">
			<div class="bank-info">
			<table>
				<tr>
					<td>BANK NAME:</td><td><b>GTBank</b></td>
				</tr>
				<tr>
					<td>ACCOUNT NAME:</td><td>MCS Gold L.T.D</td>
				</tr>
				<tr>
					<td>ACCOUNT NUMBER:</td><td>0033238006</td>
				</tr>
				<tr>
					<td>NAME OF DEPOSITOR:</td><td>(YOU MUST PAY WITH YOUR USERNAME AS NAME OF DEPOSITOR)</td><br />
				</tr>
			</table>
		   </div>
		   <div class="bank-info">
			<table>
				<tr>
					<td>BANK NAME:</td><td><b>First Bank of Nigeria</b></td>
				</tr>
				<tr>
					<td>ACCOUNT NAME:</td><td>MCS Gold L.T.D</td>
				</tr>
				<tr>
					<td>ACCOUNT NUMBER:</td><td>2554102145</td>
				</tr>
				<tr>
					<td>NAME OF DEPOSITOR:</td><td>(YOU MUST PAY WITH YOUR USERNAME AS NAME OF DEPOSITOR)</td><br />
				</tr>
			</table>
		   </div>
		   <div class="bank-info">
			<table>
				<tr>
					<td>BANK NAME:</td><td><b>Access Bank</b></td>
				</tr>
				<tr>
					<td>ACCOUNT NAME:</td><td>MCS Gold L.T.D</td>
				</tr>
				<tr>
					<td>ACCOUNT NUMBER:</td><td>0050379460</td>
				</tr>
				<tr>
					<td>NAME OF DEPOSITOR:</td><td>(YOU MUST PAY WITH YOUR USERNAME AS NAME OF DEPOSITOR)</td><br />
				</tr>
			</table>
		   </div>
		    <div class="bank-info">
			<table>
				<tr>
					<td>BANK NAME:</td><td><b>UBA</b></td>
				</tr>
				<tr>
					<td>ACCOUNT NAME:</td><td>MCS Gold L.T.D</td>
				</tr>
				<tr>
					<td>ACCOUNT NUMBER:</td><td>1017587120</td>
				</tr>
				<tr>
					<td>NAME OF DEPOSITOR:</td><td>(YOU MUST PAY WITH YOUR USERNAME AS NAME OF DEPOSITOR)</td><br />
				</tr>
			</table>
		   </div>
		   <div class="bank-info">
			<table>
				<tr>
					<td>BANK NAME:</td><td><b>Diamond Bank</b></td>
				</tr>
				<tr>
					<td>ACCOUNT NAME:</td><td>MCS Gold L.T.D</td>
				</tr>
				<tr>
					<td>ACCOUNT NUMBER:</td><td>0034828442</td>
				</tr>
				<tr>
					<td>NAME OF DEPOSITOR:</td><td>(YOU MUST PAY WITH YOUR USERNAME AS NAME OF DEPOSITOR)</td><br />
				</tr>
			</table>
		   </div>
		    <div class="bank-info">
			<table>
				<tr>
					<td>BANK NAME:</td><td><b>Union Bank</b></td>
				</tr>
				<tr>
					<td>ACCOUNT NAME:</td><td>MCS Gold L.T.D</td>
				</tr>
				<tr>
					<td>ACCOUNT NUMBER:</td><td>0039554177</td>
				</tr>
				<tr>
					<td>NAME OF DEPOSITOR:</td><td>(YOU MUST PAY WITH YOUR USERNAME AS NAME OF DEPOSITOR)</td><br />
				</tr>
			</table>
		   </div>
		   <div class="bank-info">
			<table>
				<tr>
					<td>BANK NAME:</td><td><b>Ecobank</b></td>
				</tr>
				<tr>
					<td>ACCOUNT NAME:</td><td>MCS Gold L.T.D</td>
				</tr>
				<tr>
					<td>ACCOUNT NUMBER:</td><td>1482001410</td>
				</tr>
				<tr>
					<td>NAME OF DEPOSITOR:</td><td>(YOU MUST PAY WITH YOUR USERNAME AS NAME OF DEPOSITOR)</td><br />
				</tr>
			</table>
		   </div>
		    <div class="bank-info">
			<table>
				<tr>
					<td>BANK NAME:</td><td><b>Zenith Bank PLC</b></td>
				</tr>
				<tr>
					<td>ACCOUNT NAME:</td><td>MCS Gold L.T.D</td>
				</tr>
				<tr>
					<td>ACCOUNT NUMBER:</td><td> 1013182198</td>
				</tr>
				<tr>
					<td>NAME OF DEPOSITOR:</td><td>(YOU MUST PAY WITH YOUR USERNAME AS NAME OF DEPOSITOR)</td><br />
				</tr>
			</table>
		   </div>
		</div>
	</div>
	
</div>
<div class="active_subscription_return_back_navigation">
	<table>
		<tr>
			<td>
				<div class="course_return">
					<%= link_to 'Course Home', :controller => 'user_first_semester_course', :action => 'show', :id => current_user.first_semester_course %>
				</div>
			</td>
			<td>
				<div class="course_return">
					<%= link_to 'Library', :controller => 'library', :action => 'books' %>
				</div>
			</td>
			<td>
				<div class="course_return">
					<%= link_to 'Solution Bank', :controller => 'questions_and_solutions', :action => 'index' %>
				</div>
			</td>	
		</tr>
	</table>
</div>
