<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "MCS - Administrator::Homepage" %></title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App_Name" %>">
		<%= stylesheet_link_tag "administrator", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
	</head>
	<body>

		<div class="admin_pagecontent">
			<table border="0">
				<tr>
					<td>
					<header class="header_navbar">
						<div class="left_header_container">
							<table>
								<tr>
									<td>
									<div class="header_logo">
										<%= link_to(image_tag("../assets/user_mainpage_header_logo.jpg"), root_path )%>
									</div></td>
									<td>
									<div class="admin_home_link">
										<%= link_to 'Home', root_path %>
									</div></td>
									<td>
										<div class="admin_home_link">
											<% if current_user.has_role? :superadmin %>
                                                <%= link_to('Manage Users', users_path) %>
                                            <% else %>
                                            <% end %>
										</div>
									</td>
									
								</tr>
							</table>

						</div>
						<div class="right_header_container">
							<table border="0">
								<tr>
									<td>
									<div class="user_photo">
										<%= image_tag current_user.photo.url(:small) %>
									</div>
									</td>

									<% if current_user.name.length > 5 %>
									<td>
									<div class="current_user">
										<%= truncate current_user.name, length: 8 %>
									</div></td>
									<% else %>
									<td>
									<div class="current_user">
										<%= current_user.name%>
									</div></td>
									<% end %>
									<td>
									<div class="profile">
										<%= link_to('Edit Profile', edit_user_registration_path ) %>
									</div></td>
									<td>
									<div class="logout">
										<%= link_to('Logout !', destroy_user_session_path, :method=>'delete') %>
									</div></td>
								</tr>
							</table>
						</div>
					</header></td>
				</tr>
				<tr></tr>
			</table>
			<div class="pagecontainer">
				<table>
					<tr>
						<td>
						  <div class="admin_leftpane">
							<table>
								<tr>
									<td>
										<div class="navigation_title">
											Manage Resources
										</div>
									</td>
								</tr>
								<% if current_user.has_role? :superadmin %>
								<tr>
									<td>
										<div class="navigation_section">Schools Section</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links">
											<%= link_to 'Institutions', administrator_institutions_path %>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links">
											<%= link_to 'Faculties', administrator_faculties_path %>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links">
											<%= link_to 'Departments', administrator_departments_path %>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links">
											<%= link_to 'Levels', administrator_levels_path %>
										</div>
									</td>
								</tr>
								<% else %>
								<% end %>
								<% if current_user.has_role? :superadmin or current_user.has_role? :voucher_admin%>
								<tr>
									<td>
										<div class="navigation_section">Voucher Section</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links">
											<%= link_to 'Voucher Pins', administrator_pins_path %>
										</div>
									</td>
								</tr>
								<% else %>
								<% end %>
								<% if current_user.has_role? :past_questions_admin or current_user.has_role? :class_note_admin or current_user.has_role? :library_admin or current_user.has_role? :admin_user or current_user.has_role? :superadmin %>
								<tr>
									<td>
										<div class="navigation_section">Courses Section</div>
									</td>
								</tr>
								<% if current_user.has_role? :superadmin or current_user.has_role? :admin_user %>
								<tr>
									<td>
										<div class="nav_items_links_center">
											<%= link_to 'First semester courses', administrator_first_semester_courses_path %>
										</div>
									</td>
								</tr>
								<% else %>
								<% end %>
								<tr>
									<td>
										<div class="nav_items_links_center">
											<%= link_to 'First semester course topics', administrator_first_semester_course_outlines_path %>
										</div>
									</td>
								</tr>
								
								<% if current_user.has_role? :superadmin or current_user.has_role? :admin_user %>
								<tr>
									<td>
										<div class="nav_items_links_center">
											<%= link_to 'Second semester courses', administrator_second_semester_courses_path %>
										</div>
									</td>
								</tr>
								<% else %>
								<% end %>
								<tr>
									<td>
										<div class="nav_items_links_center">
											<%= link_to 'Second semester course topics', administrator_second_semester_course_outlines_path %>
										</div>
									</td>
								</tr>
								<% else %>
								<% end %>
								<% if Semester.all.blank? or CourseType.all.blank? %>
								<% if current_user.has_role? :superadmin %>
								<tr>
									<td>
										<div class="navigation_section">Other Course - Inputs</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links">
											<%= link_to 'Course Types', administrator_course_types_path %>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links">
											<%= link_to 'Semesters', administrator_semesters_path %>
										</div>
									</td>
								</tr>
								<% else %>
								<% end %>
								<% else %>
								<% end %>
								<% if current_user.has_role? :past_questions_admin or current_user.has_role? :class_note_admin or current_user.has_role? :library_admin or current_user.has_role? :admin_user or current_user.has_role? :superadmin  %>
								<tr>
									<td>
										<div class="navigation_section">Library Section</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links_center">
											<%= link_to 'First semester library books', administrator_first_semester_library_books_path %>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links_center">
											<%= link_to 'First semester library book topics', administrator_first_semester_library_book_outlines_path %>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links_center">
											<%= link_to 'Second semester library books', administrator_second_semester_library_books_path %>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="nav_items_links_center">
											<%= link_to 'Second semester library book topics', administrator_second_semester_library_book_outlines_path %>
										</div>
									</td>
								</tr>
								<% else %>
								<% end %>
								
								
							</table>
						  </div>
						</td>
						<td>
						  <div class="yield_content">
							 <%= yield %>
						  </div>
						</td>
					</tr>
				</table>

				<!--! end of .container -->
			</div>
			<!--! end of #main -->
			<table>
       	<tr>
       		<td>
       			<footer id="footer">
							<div class="mainpage_footer_leftsider">
								<div class="footer_sitelogo">
									<%= link_to(image_tag("../assets/mainpage_footer_sitelogo.jpg"), root_path )%>
								</div>
								<div class="mainpage_copywrite_container">
									Copyright © 2013 - 2014 MyCourseStudy<br />Your up-to-date Higher Institution Courses Archive.
								</div>
							
							</div>
							<div class="mainpage_footer_rightsider">
							  <div class="mainpage_footer_rightsider_top_navigation">
							    <table class="mainpage_nav_table_footer_rightsider_top_navigation" border="0">
								  <tr>
									<td class="mainpage_advertise"><%= link_to 'ADVERTISE', '#' %></td>
									<td class="mainpage_get_help"><%= link_to 'GET HELP', '/get_help/index' %></td>
									<td class="mainpage_feedback"><%= link_to 'SEND US FEEDBACK', '#' %></td>
									<td class="mainpage_about"><%= link_to 'ABOUT US', '#' %></td>
								  </tr>
							    </table>
					          </div>  
					          <div class="mainpage_footer_rightsider_bottom_navigation">
							    <table class="mainpage_nav_table_footer_leftsider_bottom_navigation" border="0">
								  <tr>
									<td class="mainpage_copywrite_info"><%= link_to 'Copywrite Information', '/copywrite_information/index' %></td>
									<td class="mainpage_privacy_policy"><%= link_to 'Privacy Policy', '/privacy_policy/index' %></td>
									<td class="mainpage_terms_of_use"><%= link_to 'Terms Of Use', '/terms_and_conditions/index' %></td>
								  </tr>
							    </table>
					          </div>        
							</div>						
						</footer>
       		</td>
       	</tr>
       </table>

		</div>
	</body>
</html>