<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "MCS :: Home" %></title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App_Name" %>">
		<%= stylesheet_link_tag "mobile_application", :media => "all" %>
		<%= javascript_include_tag "mobile_application" %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
		
	</head>
	<body>
		<div class="mobile_app_pagecontent">
			<header class="header_navbar">
				<div class="mobile_header_table">
					
					<div class="mobile_site_logo_table">
						    
							<table>
								<tr>
									<td>
										<div class="goal_tag">My&nbsp;&nbsp;Higher&nbsp;&nbsp;Institution&nbsp;&nbsp;Courses&nbsp;&nbsp;Archive</div>
									</td>
								</tr>
							</table>
					</div>
					
				</div>
			</header>
			
			<!--! end of #main -->
		</div>
	</body>
</html>